.app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

#inp {
    padding: 10px 50px;
    font-weight: bold;
    width: 180px;
    text-align: center;
}

#btn {
    border: none;
    background-color: #028a3b;
    border-radius: 5px;
    opacity: 0.8;
    transition: 0.5s;
    color: #fff;
    padding: 11px 50px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    margin-top: 40px;
}

#btn:hover {
    opacity: 1;
}

#ulRepos {
    list-style: none;
    padding: 0;
    margin-top: 40px;
}

#ulRepos li {
    padding: 7px 20px;
    margin-top: 40px;
    border-radius: 5px;
    box-shadow: 2px -2px 5px 0 rgba(0,0,0,.1),
                -2px -2px 5px 0 rgba(0,0,0,.1),
                2px 2px 5px 0 rgba(0,0,0,.1),
                -2px 2px 5px 0 rgba(0,0,0,.1);
    font-size: 20px;
}

.wrap {
    display: flex;
    justify-content: space-around;
}