.header {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.header .logo {
    font-family: "Fraunces", Georgia, serif;
    font-size: 2.5rem;
    padding-left: 1rem;
    color: rgb(15, 12, 41)
}

.header .shopping-cart {
    align-self: center;
    font-size: 1.3rem;
    padding-right: 1rem;
}

.header .shopping-cart .cart-icon {
    font-size: 2.2rem;
    color: #17a2b8;
    margin-right: 10px;
}